body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  user-select: none; /* Previene la selección de texto */
}

/* Quitar los bordes del editor TinyMCE */
.tox {
  border: none !important; /* Quita el borde del contenedor */
  box-shadow: none !important; /* Quita la sombra si hay alguna */
}