body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  user-select: none; /* Previene la selección de texto */
}

/* Hacer el espacio de la columna más alta para el arrastre de la tarea */
#columns .list-group{
  height: 70vh; /* La columna ocupará el 90% de la altura de la ventana */
}