.col-4
    h4 To Do
    ul#todo-column.list-group
        li.list-group-item Elemento 1
        li.list-group-item Elemento 2
        li.list-group-item Elemento 3
.col-4
    h4 Working ...
    ul#working-column.list-group
        li.list-group-item Elemento 4
        li.list-group-item Elemento 5
        li.list-group-item Elemento 6
.col-4
    h4 Done
    ul#done-column.list-group
        li.list-group-item Elemento 7
        li.list-group-item Elemento 8
        li.list-group-item Elemento 9
