
each column, index in columns
    .col-4(class=index !== columns.length - 1 ? 'border-end' : '')
        h4=column.title
        .list-group(id=column.id, data-bind=`foreach: ${column.task}`)
            .list-group-item-action.list-group-item(data-bind="attr: { 'data-task-id': _id }")
                .row
                    .col-10(data-bind="text: _title, event: { dblclick: $parent.enableEditing, blur: $parent.disableEditing }")
                    .col-1
                        i.bi.bi-three-dots.modal-trigger
                    .col-1 
                        i.bi.bi-x(data-bind="click: $parent.deleteTask")