
#actions-column
    ul.list-group.list-group-flush
        li.list-group-item.list-group-item-action(data-bind="click: closeTask") Close
        li.list-group-item.list-group-item-action(data-bind="click: deleteTask") Delete
