h4 Comments
hr
#comments-section
    .comments
    
    form.mt-4#comments-form(data-bind="submit: sendData")
        textarea#comment-content(name="text")
        button.btn.btn-primary.mt-2(type="submit" ) Submit
