h4 Comments
hr
#comments-section
    .comments(data-bind="foreach: comments")
        .card.mt-2
            .card-header(data-bind="text: _created_at")
            .card-body
                p.card-text.comment-text(data-bind="html: _text")

    form.mt-4#comments-form(data-bind="submit: sendData")
        textarea#comment-content(name="text")
        button.btn.btn-primary.mt-2(type="submit" ) Submit
