
form(action="#", method="POST" id="form-details" onSubmit="return false;")
    .mb-3
        label.form-label.fs-4.text-decoration-underline(for="title") Title
        input.form-control-plaintext(type="text", id="title" name="title")

    .mb-3
        div.form-label.fs-4.text-decoration-underline(for="text-content") Text
        div#text-content.form-control-plaintext Write content
    
    input.form-control(type="hidden", name="text" id="text-hidden")
    input(type="hidden", name="id" id="task-id" value="")

